* {
    margin: 0;
    padding: 0;
}

html {
    font-family: DengXian, "Microsoft YaHei";
    background-color: #dFdFdF;
}

.topbar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #036;
    position: fixed;
}

.indexbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.bigbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-color: #dFdFdF;*/
    /*background: linear-gradient(45deg, #9CBFFD, #C4ECFB);*/
}

.addBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 540px;
    box-shadow: 0 5px 10px grey;
    background-color: white;
    padding: 50px;
}

.title {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 10px;
    color: #036;
    border-bottom: 1px solid #003366;
}

.submitbtn {
    display: block;
    outline: none;
    border: none;
    width: 600px;
    height: 30px;
    color: white;
    font-weight: 700;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #036;
}

.submitbtn:hover {
    cursor: pointer;
}

.textbox {
    display: block;
    outline: none;
    border: none;
    /*background-color: cornflowerblue;*/
    width: 600px;
    height: 30px;
    color: #036;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px darkgrey inset;
}

.content {
    display: block;
    outline: none;
    border: none;
    /*background-color: cornflowerblue;*/
    width: 600px;
    height: 300px;
    color: #036;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    box-shadow: 0 0 10px darkgrey inset;
}